<div class="col-lg-8 col-md-9 mx-auto">
    <form action="/post/query" class="d-flex">
        <input type="text" name="search" value="{{query}}" class="form-control form-control-user" placeholder="Търси...">
        <button class="btn btn-primary" type="submit">Търси</button>
    </form>
</div>