<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Забравена парола</h1>
                        {{> messages }}
                    </div>
                    <form class="user" action="/users/forgotten/passowrd" method="POST">
                        <div class="form-group">
                            <input type="email" name="email" class="form-control form-control-user"
                                placeholder="Имейл адрес...">
                        </div>
                        <button class="btn btn-primary btn-user btn-block">
                            Изпрати ми имейл
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>