<div class="forms mx-auto">
    <h2 class="text-center mt-4">Login</h2>
    {{> messages }}
    <form action="/users/login" method="POST">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" name="email" id="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/users/register">Register</a>
        </div>
    </form>
</div>